@keyframes flexbox-carousel__animation--snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

@mixin flexbox-carousel__viewport (
  $viewport-position: absolute,
  $viewport-top: 0,
  $viewport-right: 0,
  $viewport-bottom: 0,
  $viewport-left: 0,
  $viewport-width: 100%,
  $viewport-height: auto,
  $viewport-padding-left: 0,
  $viewport-direction: row,
  $viewport-counter: null
) {
  position: $viewport-position;
  @if $viewport-position {
    top: $viewport-top;
    right: $viewport-right;
    bottom: $viewport-bottom;
    left: $viewport-left;
  }
  @if $viewport-counter {
    counter-reset: item;
  }
  width: $viewport-width;
  height: $viewport-height;
  padding-left: $viewport-padding-left;
  @include flex($direction: $viewport-direction);
  @include overflow($x: scroll);
  counter-reset: item;
  scroll-snap-type: x mandatory;
}

@mixin flexbox-carousel__slide (
  $slide-width: null,
  $slide-height: null,
  $slide-size: null,
  $slide-gap: null,
  $slide-direction: 'ltr',
  $slide-flex: $null,
  $slide-counter: false
) {
  position: relative;
  width: $slide-width;
  height: $slide-height;
  @include size($slide-size);
  flex: $slide-flex;
  flex-shrink: 0;
  scroll-snap-align: start;
  @if $slide-direction == 'ltr' {
    float: left;
    margin: 0 $slide-gap 0 0;
  }
  @if $slide-counter {
    counter-increment: item;
  }
  @if $slide-direction == 'rtl' {
    float: right;
    margin: 0 0 0 $slide-gap;
  }

  @media (hover: hover) {
    @keyframes flexbox-carousel__animation--tostart {
      75% {
        left: 0;
      }
      95% {
        left: -300%;
      }
      98% {
        left: -300%;
      }
      99% {
        left: 0;
      }
    }

    &:last-child &__snapper {
      animation-name: flexbox-carousel__animation--tostart, flexbox-carousel__animation--snap;
    }
  }
}

@mixin flexbox-carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  @include size(100%);
  scroll-snap-align: center;

  @media (hover: hover) {

    @keyframes flexbox-carousel__animation--tonext {
      75% {
        left: 0;
      }
      95% {
        left: 100%;
      }
      98% {
        left: 100%;
      }
      99% {
        left: 0;
      }
    }

    animation-name: flexbox-carousel__animation--tonext, flexbox-carousel__animation--snap;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@mixin flexbox-carousel__pagination {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  &-list,
  &-item {
    display: inline-block;
  }

  &-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
}

@mixin flexbox-carousel__wrapper(
  $slide-size: null,
  $slide-width: null,
  $slide-height: null,
  $gap: null,
  $navigation-enabled: false,
  $carousel-height: null,
  $carousel-width: null
) {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
  position: relative;
  height: $carousel-height;
  width: $carousel-width;

  &, > * {
    list-style: none !important;
  }

  @if $navigation-enabled {
    &::before,
    &::after,
    &__prev,
    &__next {
      position: absolute;
      top: 0;
      top: 50%;
      width: 4rem;
      height: 4rem;
      transform: translateY(-50%);
      outline: 0;
    }

    &::before,
    &__prev {
      left: 0;
    }

    &::after,
    &__next {
      right: 0;
    }

    &::before,
    &::after {
      content: '';
      z-index: 1;
      background: #000;
      pointer-events: none;
    }
  }
}
