@mixin overflow-carousel__viewport (
  $width: 100%,
  $gap: 0,
  $padding-left: 0
) {
  position: relative;
  width: $width;
  padding-left: $padding-left;
  display: flex;
  flex-direction: row !important;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  > * {
    margin-right: $gap;

    &:last-of-type {
      &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        width: $gap;
      }
    }
  }
}

@mixin overflow-carousel__item(
  $width: auto,
  $height: auto
) {
  display: flex;
  width: $width !important;
  height: $height !important;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
  float: left;
}

@mixin overflow-carousel (
  $viewport-width: 100%,
  $viewport-padding-left: 0,
  $slide-width: auto,
  $slide-height: auto,
  $gap: 0,
) {
  position: relative;
  width: $viewport-width;
  padding-left: $gap;
  display: flex;
  flex-direction: row !important;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  > * {
    display: flex;
    flex-shrink: 0;
    scroll-snap-align: start;
    position: relative;
    float: left;
    margin-right: $gap;
    width: $slide-width !important;
    height: $slide-height !important;

    &:last-of-type {
      &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        width: $gap;
      }
    }
  }
}