@mixin overflow-carousel (
  $viewport-classname: null,
  $viewport-width: 100%,
  $viewport-padding-left: 0,
  $slide-classname: null,
  $slide-width: auto,
  $slide-height: auto,
  $gap: 0,
  $overflow-overlay-width: null,
  $overflow-overlay-background: null
) {
  
  #{$viewport-classname} {
    width: $viewport-width;
    padding-left: $gap;
    display: flex;
    flex-direction: row !important;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
  }

  @if $overflow-overlay-width or $overflow-overlay-color {
    position: relative;
    #{$viewport-classname}::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: $overflow-overlay-width;
      background: $overflow-overlay-background;
      pointer-events: none;
    }
  }

  #{$slide-classname} {
    display: flex;
    flex-shrink: 0;
    scroll-snap-align: start;
    position: relative;
    float: left;
    margin-right: $gap !important;
    width: $slide-width !important;
    height: $slide-height !important;

    &:last-of-type {
      &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        width: $gap;
      }
    }
  }
}