@mixin slider-carousel(
  $base-classname,
  $viewport-classname,
  $item-classname,
  $navigation-classname,
  $pagination-classname,
  
  $wrapper-height,
  $wrapper-width,
  $wrapper-max-height: null,
  $wrapper-max-width: null,

  $gap: null,

  $viewport-position: absolute,
  $viewport-top: 0,
  $viewport-right: 0,
  $viewport-bottom: 0,
  $viewport-left: 0,
  $viewport-width: 100%,
  $viewport-height: auto,
  $viewport-max-width: null,
  $viewport-max-height: null,
  $viewport-direction: row,
  $viewport-counter: null,
  
  $item-size: null,
  $item-width: null,
  $item-height: null,
  $item-max-width: null,
  $item-max-height: null,
  $item-direction: 'ltr',
  $item-flex: null,
  $item-counter: false,

  $visible-items: 1,

  $navigation-enabled: false,
  $pagination-enabled: false
) {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  position: relative;
  height: $wrapper-height;
  width: $wrapper-width;

  &, > #{$item-classname} {
    list-style: none !important;
  }

  #{$viewport-classname} {
    @if $viewport-position {
      position: $viewport-position;
      top: $viewport-top;
      right: $viewport-right;
      bottom: $viewport-bottom;
      left: $viewport-left;
    }
    @if $viewport-counter {
      counter-reset: item;
    }
    @include media('>md') {
      pointer-events: none;
    }
    width: $viewport-width;
    height: $viewport-height;
    max-width: $viewport-max-width;
    max-height: $viewport-max-height;
    @include flex($direction: $viewport-direction);
    @include overflow($x: scroll);
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  #{$item-classname} {
    position: relative;
    width: $item-width;
    height: $item-height;
    max-width: $item-max-width;
    max-height: $item-max-height;
    overflow: hidden;
    @include size($item-size);
    flex: $item-flex;
    flex-shrink: 0;
    scroll-snap-align: start;
    flex: 0 0 calc(100% / #{$visible-items});
    @if $item-direction == 'ltr' {
      float: left;
      margin: 0 $gap 0 0;
    }
    @if $item-counter {
      counter-increment: item;
    }
    @if $item-direction == 'rtl' {
      float: right;
      margin: 0 0 0 $gap;
    }
  }

  #{$navigation-classname} {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    scroll-snap-align: center;
    pointer-events: none;
  }

  @if $navigation-enabled {
    
    #{$base-classname}__prev,
    #{$base-classname}__next {
      pointer-events: all;
      position: absolute;
      top: 0;
      top: 50%;
      width: 4rem;
      height: 4rem;
      transform: translateY(-50%);
      outline: 0;

      &--disabled {
        cursor: not-allowed;
        opacity: .3;
      }
    }

    #{$base-classname}__prev {
      left: 0;
    }

    #{$base-classname}__next {
      right: 0;
    }
  }

  @if $pagination-enabled {

    #{$pagination-classname} {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
  
      &-list,
      &-item {
        display: inline-block;
      }
  
      &-button {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #333;
        background-clip: content-box;
        border: 0.25rem solid transparent;
        border-radius: 50%;
        font-size: 0;
        transition: transform 0.1s;
      }
    }
  }
}
