@import 'color';

$border: (
  width: (
    thin,
    medium,
    thick
  ),
  style: (
    none,
    solid,
    inset,
    outset
    hidden,
    dashed,
    dotted,
    double,
    groove,
    ridge
  )
  // color: $color
);
