@import 'scale.scss';

$scroll: (

  behavior: (
    smooth
  ),
  margin-top: $scale,
  margin-right: $scale,
  margin-bottom: $scale,
  margin-left: $scale,
  snap-align: (
    start,
    end,
    center
  ),
  snap-stop: always,
  snap-type: (
    none,
    x,
    y,
    block,
    inline,
    both,
    mandatory,
    proximity
  )
);