@import '../functions/map/map-deep-get.scss';

$shadow-offset-x: (
  xxs: map-deep-get($scale, proportion, xxs),
  xs: map-deep-get($scale, proportion, xs),
  sm: map-deep-get($scale, proportion, sm),
  ms: map-deep-get($scale, proportion, ms),
  md: map-deep-get($scale, proportion, md),
  ml: map-deep-get($scale, proportion, ml),
  lg: map-deep-get($scale, proportion, lg),
  xl: map-deep-get($scale, proportion, xl),
  xxl: map-deep-get($scale, proportion, xxl) 
);

$shadow-offset-y: (
  xxs: map-deep-get($scale, proportion, xxs),
  xs: map-deep-get($scale, proportion, xs),
  sm: map-deep-get($scale, proportion, sm),
  ms: map-deep-get($scale, proportion, ms),
  md: map-deep-get($scale, proportion, md),
  ml: map-deep-get($scale, proportion, ml),
  lg: map-deep-get($scale, proportion, lg),
  xl: map-deep-get($scale, proportion, xl),
  xxl: map-deep-get($scale, proportion, xxl) 
);

$shadow-blur-radius: (
  xxs: map-deep-get($scale, proportion, xxs),
  xs: map-deep-get($scale, proportion, xs),
  sm: map-deep-get($scale, proportion, sm),
  ms: map-deep-get($scale, proportion, ms),
  md: map-deep-get($scale, proportion, md),
  ml: map-deep-get($scale, proportion, ml),
  lg: map-deep-get($scale, proportion, lg),
  xl: map-deep-get($scale, proportion, xl),
  xxl: map-deep-get($scale, proportion, xxl) 
);

$shadow-spread-radius: (
  xxs: map-deep-get($scale, proportion, xxs),
  xs: map-deep-get($scale, proportion, xs),
  sm: map-deep-get($scale, proportion, sm),
  ms: map-deep-get($scale, proportion, ms),
  md: map-deep-get($scale, proportion, md),
  ml: map-deep-get($scale, proportion, ml),
  lg: map-deep-get($scale, proportion, lg),
  xl: map-deep-get($scale, proportion, xl),
  xxl: map-deep-get($scale, proportion, xxl) 
);
