$font-size: (
  xxs: .5rem,
  xs: .84rem,
  sm: 1rem,
  ms: 1.2rem,
  md: 1.8rem,
  ml: 2.1rem,
  lg: 2.4rem,
  xl: 3rem,
  xxl: 3.6rem
);

$font-weight: (
  thin: 100,
  extralight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900
);

$line-height: (
  sm: 1,
  ms: 1.2,
  md: 1.5,
  ml: 1.8,
  lg: 2.1,
  xl: 2.4
);
