$text: (

  decoration: (
    underline,
    line-through,
    overline
  ),
  indent: (
    hanging,
    each-line
  ),
  justify: (
    inter-word,
    inter-character
  ),
  overflow: (
    clip,
    ellipsis
  ),
  rendering: (
    optimizeSpeed,
    optimizeLegibility,
    geometricPrecision
  ),
  transform: (
    lowercase,
    uppercase,
    capitalize
  )
);
