$transition: (
  timing-function: (
    ease,
    linear,
    ease-in,
    ease-out,
    ease-in-out
  ),
  duration: (
    xxs: .1s,
    xs: .2s,
    sm: .3s,
    ms: .4s,
    md: .5s,
    ml: .6s,
    lg: .7s,
    xl: .8s,
    xxl: .9s
  )
);
