@mixin hover($hover-opacity: null, $hover-transform: null, $hover-scale: null, $hover-animation: null) {
  &:hover {
    opacity: $hover-opacity;
    transform: $hover-transform;
    scale: $hover-scale;
    animation: $hover-animation;
  }
}
