@mixin hide(
  $media: null
) {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;

  @if $media == 'xxs' {
    @include media('xxs') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'xs' {
    @include media('xs') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'sm' {
    @include media('sm') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'ms' {
    @include media('ms') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'md' {
    @include media('md') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'ml' {
    @include media('ml') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'ls' {
    @include media('ls') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'lg' {
    @include media('lg') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'll' {
    @include media('ll') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'xl' {
    @include media('xl') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @if $media == 'xxl' {
    @include media('xxl') {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }
}
