@mixin hide(
  $media: null,
  $display: none !important,
  $opacity: 0 !important,
  $pointer-events: none !important
) {
  @if $media {
    @include media($media) {
      display: $display;
      opacity: $opacity;
      pointer-events: $pointer-events;
    }
  } @else {
    display: $display;
    opacity: $opacity;
    pointer-events: $pointer-events;
  }
}
