@mixin hide(
  $media: null
) {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;

  @if $media {
    @include media($media) {
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }
}
