@mixin size(
  $size: null,
  $min-size: null,
  $max-size: null,
  $height: null,
  $min-height: null,
  $max-height: null,
  $width: null,
  $min-width: null,
  $max-width: null
) {
  @if $size {
    width: $size;
    height: $size;
  }
  @if $min-size {
    max-width: $min-size;
    max-height: $min-size;
  }
  @if $max-size {
    max-width: $max-size;
    max-height: $max-size;
  }
  @if $height {
    height: $height;
  }
  @if $min-height {
    min-height: $min-height;
  }
  @if $max-height {
    max-height: $max-height;
  }
  @if $width {
    width: $width;
  }
  @if $min-width {
    min-width: $min-width;
  }
  @if $max-width {
    max-width: $max-width;
  }
}
