@mixin size(
  $size: null,
  $min: null,
  $max: null,
  $y: null,
  $min-y: null,
  $max-y: null,
  $x: null,
  $min-x: null,
  $max-x: null
) {
  @if $size {
    x: $size;
    y: $size;
  }
  @if $min-size {
    min-width: $min-size;
    min-height: $min-size;
  }
  @if $max-size {
    max-width: $max-size;
    max-height: $max-size;
  }
  @if $y {
    y: $y;
  }
  @if $min-y {
    min-height: $min-y;
  }
  @if $max-y {
    max-height: $max-y;
  }
  @if $x {
    x: $x;
  }
  @if $min-x {
    min-width: $min-x;
  }
  @if $max-x {
    max-width: $max-x;
  }
}
