@import '../../../variables/index.scss';

@mixin background-image($background-image) {
  background-image: $background-image;
}

@mixin background-position-x($background-position-x) {
  background-position-x: $background-position-x;
}

@mixin background-position-y($background-position-y) {
  background-position-y: $background-position-y;
}

@mixin background-position($background-position, $background-position-x: $background-position, $background-position-y: $background-position) {
  @if $background-position {
    background-position: $background-position;
  } @else {
    background-position: $background-position-x $background-position-y;
  }
}

@mixin background-size($background-size) {
  background-size: $background-size;
}

@mixin background-repeat($background-repeat) {
  background-repeat: $background-repeat;
}

@mixin background-origin($background-origin) {
  background-origin: $background-origin;
}

@mixin background-clip($background-clip) {
  background-clip: $background-clip;
}

@mixin background-color($background-color) {
  background-color: $background-color;
}

@mixin background(
  $image: null,
  $position-x: null,
  $position-y: null,
  $size: null,
  $repeat: null,
  $attatchment: null,
  $origin: null,
  $clip: null,
  $color: null
){
  background:
    $image
    $position-x
    $position-y
    $size
    $repeat
    $attatchment
    $origin
    $clip
    $color
}