@import '../../../variables';

@mixin background-color($background-color) {
  background-color: $background-color;
}

@mixin background-position-x($background-position-x) {
  background-position-x: $background-position-x;
}

@mixin background-position-y($background-position-y) {
  background-position-y: $background-position-y;
}

@mixin background-size($background-size) {
  background-size: $background-size;
}

@mixin background-repeat($background-repeat) {
  background-repeat: $background-repeat;
}
