
@mixin border-width($border-width) {
  border-width: $border-width;
}

@mixin border-style($border-style) {
  border-style: $border-style;
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
}

@mixin border-top($width: null, $style: null, $color: null, $radius: null) {
  border-top: $width;
  border-style: $style;
  border-color: $color;
  border-radius: $radius;
}

@mixin border-right($width: null, $style: null, $color: null, $radius: null) {
  border-right: $width;
  border-style: $style;
  border-color: $color;
  border-radius: $radius;
}

@mixin border-bottom($width: null, $style: null, $color: null, $radius: null) {
  border-bottom: $width;
  border-style: $style;
  border-color: $color;
  border-radius: $radius;
}

@mixin border-left($width: null, $style: null, $color: null, $radius: null) {
  border-left: $width;
  border-style: $style;
  border-color: $color;
  border-radius: $radius;
}

@mixin border(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $x: null,
  $y: null,
  $width: null,
  $style: null,
  $color: null,
  $radius: null,
) {
  @if $top {
    border-top: $top $style $color;
  }
  
  @if $right {
    border-right: $right $style $color;
  }

  @if $bottom {
    border-bottom: $bottom $style $color;
  }
  @if $left {
    border-left: $left $style $color;
  }
  
  @if $x {
    border-left: $x $style $color;
    border-right: $x $style $color;
  }

  @if $y {
    border-top: $y $style $color;
    border-bottom: $y $style $color;
  } 

  @if $width {
    border-width: $width;
  }

  @if $style {
    border-style: $style;
  }

  @if $color {
    border-color: $color;
  }

  @if $radius {
    border-radius: $radius;
  }
}
