@mixin column-count($column-count) {
  column-count: $column-count;
}

@mixin column-fill($column-fill) {
  column-fill: $column-fill;
}

@mixin column-gap($column-gap) {
  column-gap: $column-gap;
}

@mixin column-rule($column-rule) {
  column-rule: $column-rule;
}

@mixin column-span($column-span) {
  column-span: $column-span;
}

@mixin column-width($column-width) {
  column-width: $column-width;
}

@mixin columns($columns-width, $columns-count) {
  columns: $columns-width $columns-count;
}
