@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}

@mixin font-variant($font-variant) {
  font-variant: $font-variant;
}

@mixin font-stretch($font-stretch) {
  font-stretch: $font-stretch;
}

@mixin font-size($font-size) {
  font-size: $font-size;
}

@mixin line-height($line-height) {
  line-height: $line-height;
}

@mixin font-family($font-family) {
  font-family: $font-family;
}

@mixin font(
  $style: null,
  $weight: null,
  $variant: null,
  $stretch: null,
  $size: inherit,
  $line-height: 1,
  $family: sans-serif
) {

  @if $size & $line-height & $weight {
    font: $style $variant $weight #{$size}/#{$line-height} $family;
  }

  @if $size == true & $weight == false & $line-height == false {
    font-size: $size;
  }

  @if $weight == true & $size == false & $line-height == false {
    font-weight: $weight;
  }

  @if $line-height == true & $size == false & $weight == false {
    line-height: $line-height;
  }
}
