@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}

@mixin font-variant($font-variant) {
  font-variant: $font-variant;
}

@mixin font-stretch($font-stretch) {
  font-stretch: $font-stretch;
}

@mixin font-size($font-size) {
  font-size: $font-size;
}

@mixin line-height($line-height) {
  line-height: $line-height;
}

@mixin font-family($font-family) {
  font-family: $font-family;
}

@mixin font(
  $style: null,
  $weight: null,
  $variant: null,
  $stretch: null,
  $size: null,
  $line-height: null,
  $family: null,
  $letter-spacing: null,
  $color: null,
  $important: null
) {

  @if $size and $line-height and $weight and $family {
    @if $important {
      font: $style $variant $weight #{$size}/#{$line-height} $family !important;
    } @else {
      font: $style $variant $weight #{$size}/#{$line-height} $family;
    }
  }

  @if $size and $weight == null and $line-height == null {
    @if $important {
      font-size: $size !important;
    } @else {
      font-size: $size;
    }
  }

  @if $weight and $size == null and $line-height == null {
    @if $important {
      font-weight: $weight !important;
    } @else {
      font-weight: $weight;
    }
  }

  @if $size and $weight and $line-height == null {
    @if $important {
      font: 400 #{$size}/1 sans-serif !important;
    } @else {
      font: 400 #{$size}/1 sans-serif;
    }
  }

  @if $line-height and $size == null and $weight == null {
    @if $important {
      line-height: $line-height !important;
    } @else {
      line-height: $line-height;
    }
  }

  @if $size and $line-height and $weight == null {
    @if $important {
      font: 400 #{$size}/#{$line-height} sans-serif !important;
    } @else {
      font: 400 #{$size}/#{$line-height} sans-serif;
    }
  }

  @if $size and $weight and $family and $line-height == null {
    @if $important {
      font: $weight #{$size}/1 $family !important;
    } @else {
      font: $weight #{$size}/1 $family;
    }
  }

  @if $size and $weight and $line-height and $family == null {
    @if $important {
      font: $weight #{$size}/#{$line-height} sans-serif !important;
    } @else {
      font: $weight #{$size}/#{$line-height};
    }
  }

  @if $size and $weight and $line-height and $family {
    @if $important {
      font: $weight #{$size}/#{$line-height} $family !important;
    } @else {
      font: $weight #{$size}/#{$line-height} $family;
    }
  }

  @if $size and $weight and $line-height {
    @if $important {
      font: $weight #{$size}/#{$line-height} sans-serif !important;
    } @else {
      font: $weight #{$size}/#{$line-height} sans-serif;
    }
  }

  @if $letter-spacing {
    @if $important {
      letter-spacing: $letter-spacing !important;
    } @else {
      letter-spacing: $letter-spacing;
    }
  }

  @if $color {
    @if $important {
      color: $color !important;
    } @else {
      color: $color;
    }
  }
}
