@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}

@mixin font-variant($font-variant) {
  font-variant: $font-variant;
}

@mixin font-stretch($font-stretch) {
  font-stretch: $font-stretch;
}

@mixin font-size($font-size) {
  font-size: $font-size;
}

@mixin line-height($line-height) {
  line-height: $line-height;
}

@mixin font-family($font-family) {
  font-family: $font-family;
}

@mixin font(
  $style: null,
  $weight: null,
  $variant: null,
  $stretch: null,
  $size: null,
  $line-height: null,
  $family: null,
  $letter-spacing: null,
  $color: null
) {

  @if $size and $line-height and $weight and $family {
    font: $style $variant $weight #{$size}/#{$line-height} $family;
  }

  @if $size and $weight == null and $line-height == null {
    font-size: $size;
  }

  @if $weight and $size == null and $line-height == null {
    font-weight: $weight;
  }

  @if $size and $weight and $line-height == null {
    font-size: $size;
    font-weight: $weight;
  }

  @if $line-height and $size == null and $weight == null {
    line-height: $line-height;
  }

  @if $size and $line-height and $weight == null {
    font: 400 #{$size}/#{$line-height} sans-serif;
  }

  @if $size and $weight and $line-height {
    font: $weight #{$size}/#{$line-height} sans-serif;
  }

  @if $size and $weight and $line-height and $family {
    font: $weight #{$size}/#{$line-height} $family;
  }

  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }

  @if $color {
    color: $color;
  }
}
