/*** Parent ***/

@mixin grid-template-columns($grid-template-columns) {
  grid-template-columns: $grid-template-columns;
}

@mixin grid-template-rows($grid-template-rows) {
  grid-template-rows: $grid-template-rows;
}

@mixin grid-template-areas($grid-template-areas) {
  grid-template-areas: $grid-template-areas;
}

// @mixin grid-template($grid-template-areas, $grid-template-columns, $grid-template-rows) {
  
// }


/*** Children ***/

@mixin grid-column-start($grid-column-start) {
  grid-column-start: $grid-column-start;
}

@mixin grid-column-end($grid-column-end) {
  grid-column-end: $grid-column-end;
}

@mixin grid-column($grid-column) {
  grid-column: $grid-column;
}

@mixin grid-row($grid-row) {
  grid-row: $grid-row;
}

@mixin grid-row-start($grid-row-start) {
  grid-row-start: $grid-row-start;
}

@mixin grid-row-end($grid-row-end) {
  grid-row-end: $grid-row-end;
}

@mixin grid-area($grid-area) {
  grid-area: $grid-area;  
}

@mixin grid-column-gap($grid-column-gap) {
  grid-column-gap: $grid-column-gap;
}

@mixin grid-row-gap($grid-row-gap) {
  grid-row-gap: $grid-row-gap;
}

@mixin grid-gap($grid-gap) {
  grid-gap: $grid-gap;
}

@mixin  grid(
  $template-columns: null,
  $template-rows: null,
  $template-areas: null,
  $template: null,
  $column-start: null,
  $column-end: null,
  $column: null,
  $row-start: null,
  $row-end: null,
  $row: null,
  $area: null,
  $column-gap: null,
  $row-gap: null,
  $gap: null,
  $justify-items: null,
  $justify-content: null,
  $align-items: null,
  $align-content: null,
  $place-items: null,
  $place-content: null
){
  display: grid;
  grid-template-columns: $template-columns;
  grid-template-rows: $template-rows;
  grid-template-areas: $template-areas;
  grid-template: $template;
  grid-column-start: $column-start;
  grid-column-end: $column-end;
  grid-column: $column;
  grid-row-start: $row-start;
  grid-row-end: $row-end;
  grid-row: $row;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
  justify-content: $justify-content;
  justify-items: $justify-items;
  align-content: $align-content;
  align-items: $align-items;
  place-content: $place-content;
  place-items: $place-items;
}
