@mixin height(
$height: null,
$min: null,
$max: null
) {
  height: $height;
  min-height: $min;
  max-height: $max;
}

@mixin min-height($height) {
  min-height: $height;
}

@mixin max-height($height) {
  max-height: $height;
}
