@mixin list-style($list-style) {
  list-style: $list-style;
}

@mixin list-style-positon($list-style-position) {
  list-style-position: $list-style-position;
}

@mixin list-style-type($list-style-type) {
  list-style-type: $list-style-type;
}

@include list($style: null, $style-position: null, $style-type: null, $style-image: null) {
  list-style: $style;
  list-style-position: $style-position;
  list-style-type: $style-type;
  list-style-image: $style-image;
}
