@mixin margin-top($margin-top) {
  margin-top: $margin-top;
}

@mixin margin-right($margin-right) {
  margin-right: $margin-right;
}

@mixin margin-bottom($margin-bottom) {
  margin-bottom: $margin-bottom;
}

@mixin margin-left($margin-left) {
  margin-left: $margin-left;
}

@mixin margin-x($margin-x) {
  margin-left: $margin-x;
  margin-right: $margin-x;
}

@mixin margin-y($margin-y) {
  margin-top: $margin-y;
  margin-bottom: $margin-y;
}

@mixin margin(
  $top: 0,
  $right: 0,
  $bottom: 0,
  $left: 0,
  $x: null,
  $y: null
) {
    @include margin($margin-top $margin-right $margin-bottom $margin-left);
  @include margin-x($x);
  @include margin-y($y);
}
