@mixin margin-top($margin-top) {
  margin-top: $margin-top;
}

@mixin margin-right($margin-right) {
  margin-right: $margin-right;
}

@mixin margin-bottom($margin-bottom) {
  margin-bottom: $margin-bottom;
}

@mixin margin-left($margin-left) {
  margin-left: $margin-left;
}

@mixin margin-x($margin-x) {
  margin-left: $margin-x;
  margin-right: $margin-x;
}

@mixin margin-y($margin-y) {
  margin-top: $margin-y;
  margin-bottom: $margin-y;
}

@mixin margin(
  $margin: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $x: null,
  $y: null,
  $important: null
) {

  // Single Property

  @if $top and $right == null and $bottom == null and $left == null and $x == null and $y == null {
    @if $important {
      margin-top: $top !important;
    } @else {
      margin-top: $top;
    }
  }

  @if $right and $bottom == null and $left == null and $top == null and $x == null and $y == null {
    @if $important {
      margin-right: $right !important;
    } @else {
      margin-right: $right;
    }
  }

  @if $bottom and $left == null and $top == null and $right == null and $x == null and $y == null {
    @if $important {
      margin-bottom: $bottom !important;
    } @else {
      margin-bottom: $bottom;
    }
  }

  @if $left and $top == null and $right == null and $bottom == null and $x == null and $y == null {
    @if $important {
      margin-left: $left !important;
    } @else {
      margin-left: $left;
    }
  }

  // Two Properties

  @if $top and $right {
    @if $important {
      margin: $top $right 0 0!important;
    } @else {
      margin: $top $right 0 0;
    }
  }

  @if $top and $bottom {
    @if $important {
      margin: $top 0 $bottom 0 !important;
    } @else {
      margin: $top 0 $bottom 0;
    }
  }

  @if $top and $left {
    @if $important {
      margin: $top 0 0 $left !important;
    } @else {
      margin: $top 0 0 $left;
    }
  }

  @if $left and $right {
    @if $important {
      margin: 0 $right 0 $left !important;
    } @else {
      margin: 0 $right 0 $left;
    }
  }

  @if $left and $bottom {
    @if $important {
      margin: 0 0 $bottom $left !important;
    } @else {
      margin: 0 0 $bottom $left;
    }
  }

  @if $right and $bottom {
    @if $important {
      margin: 0 $right $bottom 0 !important;
    } @else {
      margin: 0 $right $bottom 0;
    }
  }

  // Three Properties

  @if $top and $bottom and $right and $left == null {
    @if $important {
      margin: 0 $right $bottom $left !important;
    } @else {
      margin: 0 $right $bottom $left;
    }
  }

  @if $top and $bottom and $left and $right == null {
    @if $important {
      margin: $top 0 $bottom $left !important;
    } @else {
      margin: $top 0 $bottom $left;
    }
  }

  @if $top and $left and $right and $bottom == null {
    @if $important {
      margin: $top $right 0 $left !important;
    } @else {
      margin: $top $right 0 $left;
    }
  }

  @if $bottom and $left and $right and $top == null {
    @if $important {
      margin: 0 $right $bottom $left !important;
    } @else {
      margin: 0 $right $bottom $left;
    }
  }

  // Four Properties

  @if $top and $right and $bottom and $left and $x == null and $y == null {
    @if $important {
      margin: $top $right $bottom $left !important;
    } @else {
      margin: $top $right $bottom $left;
    }
  }

  // Axis Properties

  @if $x and $y == null and $top == null and $bottom == null {
    @if $important {
      margin: 0 $x 0 $x !important;
    } @else {
      margin: 0 $x 0 $x;
    }
  }

  @if $y and $x == null and $right == null and $left == null {
    @if $important {
      margin: $y 0 $y 0 !important;
    } @else {
      margin: $y 0 $y 0;
    }
  }

  @if $x and $y {
    @if $important {
      margin: $y $x $y $x !important;
    } @else {
      margin: $y $x $y $x;
    }
  }

  @if $x and $top and $bottom == null {
    @if $important {
      margin: $top $x 0 $x !important;
    } @else {
      margin: $top $x 0 $x;
    }
  }

  @if $x and $bottom and $top == null {
    @if $important {
      margin: 0 $x $bottom $x !important;
    } @else {
      margin: 0 $x $bottom $x;
    }
  }

  @if $y and $right and $left == null {
    @if $important {
      margin: $y $right $y 0 !important;
    } @else {
      margin: $y $right $y 0;
    }
  }

  @if $y and $left and $right == null {
    @if $important {
      margin: $y 0 $y $left !important;
    } @else {
      margin: $y 0 $y $left;
    }
  }
}
