@mixin object-fit($object-fit) {
  object-fit: $object-fit;
}

@mixin object-position($object-position-x, $object-position-y) {
  object-position: $object-position-x $object-position-y;
}

@mixin object(
  $fit: null,
  $position-x: null,
  $position-y: null
) {
  object-fit: $fit;
  object-position: $position-x, $position-y;
}
