@mixin object-fit($object-fit) {
  object-fit: $object-fit;
}

@mixin object-position($object-position-x, $object-position-y) {
  object-position: $object-position-x, $object-position-y;
}

@mixin object($fit, $position-x, $position-y) {
  object-fit: $fit;
  object-position: $position-x, $position-y;
}
