@mixin overflow-x($overflow-x) {
  overflow-x: $overflow-x;
  overscroll-behavior: contain;
}

@mixin overflow-y($overflow-y) {
  overflow-y: $overflow-y;
  overscroll-behavior: contain;
}

@mixin overflow($overflow-x: null, $overflow-y: null) {
  overflow-x: $overflow-x;
  overflow-y: $overflow-y;
  overscroll-behavior: contain;
}
