@mixin overflow($x: null, $y: null, $overscroll-behavior: contain, $scroll-behavior: smooth) {
  overflow-x: $x;
  overflow-y: $y;
  scroll-behavior: $scroll-behavior;
  overscroll-behavior: $overscroll-behavior;
  -webkit-overflow-scrolling: touch;
}
