@mixin overflow-x($overflow-x, $overscroll-behavior) {
  overflow-x: $overflow-x;
  overscroll-behavior: $overscroll-behavior;
  -webkit-overflow-scrolling: touch;
}

@mixin overflow-y($overflow-y, $overscroll-behavior) {
  overflow-y: $overflow-y;
  overscroll-behavior: $overscroll-behavior;
  -webkit-overflow-scrolling: touch;
}

@mixin overflow($overscroll-behavior, $x: null, $y: null) {
  overflow-x: $x;
  overflow-y: $y;
  overscroll-behavior: $overscroll-behavior;
  -webkit-overflow-scrolling: touch;
}
