@mixin padding-top($padding-top) {
  padding-top: $padding-top;
}

@mixin padding-right($padding-right) {
  padding-right: $padding-right;
}

@mixin padding-bottom($padding-bottom) {
  padding-bottom: $padding-bottom;
}

@mixin padding-left($padding-left) {
  padding-left: $padding-left;
}

@mixin padding-x($padding-x) {
  padding-left: $padding-x;
  padding-right: $padding-x;
}

@mixin padding-y($padding-y) {
  padding-top: $padding-y;
  padding-bottom: $padding-y;
}

@mixin padding(
  $padding: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $x: null,
  $y: null
) {

  @if $padding {
    padding: $padding;
  }

  @if $top and $right == null and $bottom == null and $left == null and $x == null and $y == null {
    padding-top: $top;
  }

  @if $right and $bottom == null and $left == null and $top == null and $x == null and $y == null {
    padding-right: $right;
  }

  @if $bottom and $left == null and $top == null and $right == null and $x == null and $y == null {
    padding-bottom: $bottom;
  }

  @if $left and $top == null and $right == null and $bottom == null and $x == null and $y == null {
    padding-left: $left;
  }

  @if $top and $bottom {
    padding: $top 0 $bottom 0;
  }

  @if $left and $right {
    padding: 0 $right 0 $left;
  }

  @if $top and $bottom and $right and $left == null {
    padding: 0 $right $bottom $left;
  }

  @if $top and $bottom and $right and $top == null {
    padding: $top $right $bottom 0;
  }

  @if $top and $left and $right and $bottom == null {
    padding: $top $right 0 $left;
  }

  @if $top and $bottom and $left and $right == null {
    padding: $top 0 $bottom $left;
  }

  @if $x and $y == null and $top == null and $bottom == null {
    padding: 0 $x 0 $x;
  }

  @if $y and $x == null and $right == null and $left == null {
    padding: $y 0 $y 0;
  }

  @if $x and $y {
    padding: $y $x $y $x;
  }

  @if $x and $top and $bottom == null {
    padding: $top $x 0 $x;
  }

  @if $x and $bottom and $top == null {
    padding: 0 $x $bottom $x;
  }

  @if $y and $right and $left == null {
    padding: $y $right $y 0;
  }

  @if $y and $left and $right == null {
    padding: $y 0 $y $left;
  }
}
