@mixin padding-top($padding-top) {
  padding-top: $padding-top;
}

@mixin padding-right($padding-right) {
  padding-right: $padding-right;
}

@mixin padding-bottom($padding-bottom) {
  padding-bottom: $padding-bottom;
}

@mixin padding-left($padding-left) {
  padding-left: $padding-left;
}

@mixin padding-x($padding-x) {
  padding-left: $padding-x;
  padding-right: $padding-x;
}

@mixin padding-y($padding-y) {
  padding-top: $padding-y;
  padding-bottom: $padding-y;
}

@mixin padding(
  $padding-top: unset,
  $padding-right: unset,
  $padding-bottom: unset,
  $padding-left: unset) {
    padding:
      $padding-top,
      $padding-right,
      $padding-bottom,
      $padding-left;
}
