@mixin padding-top($padding-top) {
  padding-top: $padding-top;
}

@mixin padding-right($padding-right) {
  padding-right: $padding-right;
}

@mixin padding-bottom($padding-bottom) {
  padding-bottom: $padding-bottom;
}

@mixin padding-left($padding-left) {
  padding-left: $padding-left;
}

@mixin padding-x($padding-x) {
  padding-left: $padding-x;
  padding-right: $padding-x;
}

@mixin padding-y($padding-y) {
  padding-top: $padding-y;
  padding-bottom: $padding-y;
}

@mixin padding(
  $padding: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $x: null,
  $y: null
) {

  @if $padding {
    padding: $padding;
  }

  @if $top & $right & $bottom & $left {
    padding: $top $right $bottom $left;
  }

  @if $x {
    padding-left: $x;
    padding-right: $x;
  }

  @if $y {
    padding-top: $y;
    padding-bottom: $y;
  }

  @if $top {
    padding-top: $top;
  }

  @if $right {
    padding-right: $right;
  }

  @if $bottom {
    padding-bottom: $bottom;
  }

  @if $left {
    padding-left: $left;
  }
}
