@mixin position($position: unset, $top: unset, $right: unset, $bottom: unset, $left: unset, $transform: unset) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: $transform;
}
