@mixin text-align($text-align) {
  text-align: $text-align;
}

@mixin text-align-last($text-align-last) {
  text-align-last: $text-align-last;
}

@mixin text-decoration($line: null, $type: null, $color: null, $style: null) {
  text-decoration: $line $type $color;
  text-decoration-style: $style;
}

@mixin text-indent($text-indent) {
  text-indent: $text-indent;
}

@mixin text-overflow($text-overflow) {
  text-overflow: $text-overflow;
}

@mixin text-rendering($text-rendering) {
  text-rendering: $text-rendering;
}

@mixin text-shadow($offset-x: 0, $offset-y: 0, $blur: null, $color: null) {
  text-shadow: $offset-x $offset-y $blur $color;
}

@mixin text-stroke($stroke-width, $stroke-color) {
  text-stroke: $stroke-width $stroke-color;
}

@mixin text-transform($text-transform) {
  text-transform: $text-transform;
}

@mixin text(
  $align: null,
  $align-last: null,
  $decoration: null,
  $decoration-line: null,
  $decoration-type: null,
  $decoration-color: null,
  $decoration-style: null,
  $indent: null,
  $overflow: null,
  $rendering: null,
  $shadow-offset-x: null,
  $shadow-offset-y: null,
  $shadow-blur: null,
  $shadow-color: null,
  $stroke: null,
  $transform: null
) {
  text-align: $align;
  text-align-last: $align-last;
  text-decoration: $decoration-line $decoration-type $decoration-color;
  text-indent: $indent;
  text-overflow: $overflow;
  text-rendering: $rendering;
  text-shadow: $shadow-offset-x $shadow-offset-y $shadow-blur $shadow-color;
  text-transform: $transform;
}
