@mixin transform-origin(
  $origin-x: center,
  $origin-y: center
) {
  transform-origin: $origin-x $origin-y;
}

@mixin transform-scaleX($scale-x, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: scaleX($scale-x);
}

@mixin transform-scaleY($scale-y, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: scaleY($scale-y);
}

@mixin transform-scale(
  $value-x: unset,
  $value-y: unset
, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: scale($value-x, $value-y);
}

@mixin transform-scale3d(
  $value-x: unset,
  $value-y: unset,
  $value-z: unset
, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: scale3d($value-x, $value-y, $value-z);
}

@mixin transform-skewX($skew-x, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: skewX();
}

@mixin transform-skewY($skew-y, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: skewY($skew-y);
}
 
@mixin transform-skew(
  $value-x: unset,
  $value-y: unset
, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: skewX($value-x);
  transform: skewY($value-y);
}

@mixin transform-translateX($translate-x, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: translateX($translate-x);
}

@mixin transform-translateY($translate-y, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: translateY($translate-y);
}

@mixin transform-translate(
  $value-x: unset,
  $value-y: unset
, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: translate($value-x, $value-y);
}

@mixin transform-translate3d(
  $value-x: unset,
  $value-y: unset,
  $value-z: unset
, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: translate3d($value-x, $value-y, $value-z);
}

@mixin transform-rotate($translate-rotate, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: rotate($translate-rotate);
}

@mixin transform-rotate3d(
  $value-x: unset,
  $value-y: unset,
  $value-z: unset
, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: rotate3d();
}

@mixin transform-perspective($transform-perspective, $origin-x, $origin-y) {
  @include transform-origin($origin-x, $origin-y);
  transform: perspective($transform-perspective);
}
