@import '../core/utilities/variables/variables.scss';

.margin {

  & {

    &--xs {
      margin: $gap-xs;
    }

    &--sm {
      margin: $gap-sm;
      @media all and (max-width: 767px) {
        margin: $gap-xs;
      }
    }

    &--md {
      margin: $gap-md;
      @media all and (max-width: 767px) {
        margin: $gap-xs;
      }
    }

    &--lg {
      margin: $gap-lg;
      @media all and (max-width: 767px) {
        margin: $gap-sm;
      }
    }

    &--xl {
      margin: $gap-lg;
      @media all and (max-width: 767px) {
        margin: $gap-sm;
      }
    }
  }

  &__x {

    &--sm {
      margin-left: $gap-sm;
      margin-right: $gap-sm;
      @media all and (max-width: 767px) {
        margin-left: $gap-xs;
        margin-right: $gap-xs;
      }
    }

    &--md {
      margin-left: $gap-md;
      margin-right: $gap-md;
      @media all and (max-width: 767px) {
        margin-left: $gap-xs;
        margin-right: $gap-xs;
      }
    }

    &--lg {
      margin-left: $gap-lg;
      margin-right: $gap-lg;
      @media all and (max-width: 767px) {
        margin-left: $gap-md;
        margin-right: $gap-md;
      }
    }
  }

  &__y {

    &--sm {
      margin-top: $gap-sm;
      margin-bottom: $gap-sm;
      @media all and (max-width: 767px) {
        margin-top: $gap-xs;
        margin-bottom: $gap-xs;
      }
    }

    &--md {
      margin-top: $gap-md;
      margin-bottom: $gap-md;
      @media all and (max-width: 767px) {
        margin-top: $gap-xs;
        margin-bottom: $gap-xs;
      }
    }

    &--lg {
      margin-top: $gap-lg;
      margin-bottom: $gap-lg;
      @media all and (max-width: 767px) {
        margin-top: $gap-md;
        margin-bottom: $gap-md;
      }
    }
  }

  &__left {

    &--sm {
      margin-left: $gap-sm;
      @media all and (max-width: 767px) {
        margin-left: $gap-xs;
      }
    }

    &--md {
      margin-left: $gap-md;
      @media all and (max-width: 767px) {
        margin-left: $gap-xs;
      }
    }

    &--lg {
      margin-left: $gap-lg;
      @media all and (max-width: 767px) {
        margin-left: $gap-md;
      }
    }
  }

  &__right {

    &--sm {
      margin-right: $gap-sm;
      @media all and (max-width: 767px) {
        margin-right: $gap-xs;
      }
    }

    &--md {
      margin-right: $gap-md;
      @media all and (max-width: 767px) {
        margin-right: $gap-xs;
      }
    }

    &--lg {
      margin-right: $gap-lg;
      @media all and (max-width: 767px) {
        margin-right: $gap-md;
      }
    }
  }

  &__top {

    &--sm {
      margin-top: $gap-sm;
      @media all and (max-width: 767px) {
        margin-top: $gap-xs;
      }
    }

    &--md {
      margin-top: $gap-md;
      @media all and (max-width: 767px) {
        margin-top: $gap-xs;
      }
    }

    &--lg {
      margin-top: $gap-lg;
      @media all and (max-width: 767px) {
        margin-top: $gap-md;
      }
    }
  }

  &__bottom {

    &--sm {
      margin-bottom: $gap-sm;
      @media all and (max-width: 767px) {
        margin-bottom: $gap-xs;
      }
    }

    &--md {
      margin-bottom: $gap-md;
      @media all and (max-width: 767px) {
        margin-bottom: $gap-xs;
      }
    }

    &--lg {
      margin-bottom: $gap-lg;
      @media all and (max-width: 767px) {
        margin-bottom: $gap-md;
      }
    }
  }
}

.padding {

  & {

    &--xs {
      padding: $gap-xs;
    }

    &--sm {
      padding: $gap-sm;
      @media all and (max-width: 767px) {
        padding: $gap-xs;
      }
    }

    &--md {
      padding: $gap-md;
      @media all and (max-width: 767px) {
        padding: $gap-xs;
      }
    }

    &--lg {
      padding: $gap-lg;
      @media all and (max-width: 767px) {
        padding: $gap-sm;
      }
    }

    &--xl {
      padding: $gap-lg;
      @media all and (max-width: 767px) {
        padding: $gap-sm;
      }
    }
  }

  &__x {

    &--sm {
      padding-left: $gap-sm;
      padding-right: $gap-sm;
      @media all and (max-width: 767px) {
        padding-left: $gap-xs;
        padding-right: $gap-xs;
      }
    }

    &--md {
      padding-left: $gap-md;
      padding-right: $gap-md;
      @media all and (max-width: 767px) {
        padding-left: $gap-xs;
        padding-right: $gap-xs;
      }
    }

    &--lg {
      padding-left: $gap-lg;
      padding-right: $gap-lg;
      @media all and (max-width: 767px) {
        padding-left: $gap-md;
        padding-right: $gap-md;
      }
    }
  }

  &__y {

    &--sm {
      padding-top: $gap-sm;
      padding-bottom: $gap-sm;
      @media all and (max-width: 767px) {
        padding-top: $gap-xs;
        padding-bottom: $gap-xs;
      }
    }

    &--md {
      padding-top: $gap-md;
      padding-bottom: $gap-md;
      @media all and (max-width: 767px) {
        padding-top: $gap-xs;
        padding-bottom: $gap-xs;
      }
    }

    &--lg {
      padding-top: $gap-lg;
      padding-bottom: $gap-lg;
      @media all and (max-width: 767px) {
        padding-top: $gap-md;
        padding-bottom: $gap-md;
      }
    }
  }

  &__left {

    &--sm {
      padding-left: $gap-sm;
      @media all and (max-width: 767px) {
        padding-left: $gap-xs;
      }
    }

    &--md {
      padding-left: $gap-md;
      @media all and (max-width: 767px) {
        padding-left: $gap-xs;
      }
    }

    &--lg {
      padding-left: $gap-lg;
      @media all and (max-width: 767px) {
        padding-left: $gap-sm;
      }
    }
  }

  &__right {

    &--sm {
      padding-right: $gap-sm;
      @media all and (max-width: 767px) {
        padding-right: $gap-xs;
      }
    }

    &--md {
      padding-right: $gap-md;
      @media all and (max-width: 767px) {
        padding-right: $gap-xs;
      }
    }

    &--lg {
      padding-right: $gap-lg;
      @media all and (max-width: 767px) {
        padding-right: $gap-sm;
      }
    }
  }

  &__top {

    &--sm {
      padding-top: $gap-sm;
      @media all and (max-width: 767px) {
        padding-top: $gap-xs;
      }
    }

    &--md {
      padding-top: $gap-md;
      @media all and (max-width: 767px) {
        padding-top: $gap-xs;
      }
    }

    &--lg {
      padding-top: $gap-lg;
      @media all and (max-width: 767px) {
        padding-top: $gap-sm;
      }
    }
  }

  &__bottom {

    &--sm {
      padding-bottom: $gap-sm;
      @media all and (max-width: 767px) {
        padding-bottom: $gap-xs;
      }
    }

    &--md {
      padding-bottom: $gap-md;
      @media all and (max-width: 767px) {
        padding-bottom: $gap-xs;
      }
    }

    &--lg {
      padding-bottom: $gap-lg;
      @media all and (max-width: 767px) {
        padding-bottom: $gap-sm;
      }
    }
  }
}
