@mixin grid {
   /* Flex */
   display: flex;
   /* Grid */
   display: grid;
   grid-template-rows: 100%;
}

@mixin grid-column__min-heights__tablet {
  &.min-height__tablet--sm {
    min-height: 30vh;
  }
  &.min-height__tablet--md {
    min-height: 60vh;
  }
  &.min-height__tablet--lg {
    min-height: 100vh;
  }
  &.min-height__tablet--50vh {
    min-height: 50vh
  }
  &.min-height__tablet--100vh {
    min-height: 100vh;
  }
}

@mixin grid-column__min-heights__smartphone {
  &.min-height__smartphone--sm {
    min-height: 45vw;
  }
  &.min-height__smartphone--md {
    min-height: 90vw;
  }
  &.min-height__smartphone--lg {
    min-height: 120vw;
  }
  &.min-height__smartphone--xl {
    min-height: 150vw;
  }
  &.min-height__smartphone--100vh {
    min-height: 100vh;
  }
}
 