@mixin position($position) {
  position: $position;
}

@mixin position--absolute--center {
  @include position(absolute);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin position--absolute--center-top {
  @include position(absolute);
  left: 50%;
  top: 0%;
  transform: translate(-50%, -100%);
}

@mixin position--absolute--center-bottom {
  @include position(absolute);
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

@mixin position--absolute--left-top {
  @include position(absolute);
  left: 0;
  top: 0%;
  transform: translate(-100%, -100%);
}

@mixin position--absolute--left-center {
  @include position(absolute);
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

@mixin position--absolute--left-bottom {
  @include position(absolute);
  left: 0;
  top: 100%;
  transform: translate(-100%, 0);
}

@mixin position--absolute--right-top {
  @include position(absolute);
  right: 0;
  top: 0%;
  transform: translate(-100%, -100%);
}

@mixin position--absolute--right-center {
  @include position(absolute);
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

@mixin position--absolute--right-bottom {
  @include position(absolute);
  right: 0;
  top: 100%;
  transform: translate(-100%, 0);
}
