/*** Parent ***/

@mixin grid-template-columns($grid-template-columns) {
  grid-template-columns: $grid-template-columns;
}

@mixin grid-template-rows($grid-template-rows) {
  grid-template-rows: $grid-template-rows;
}

@mixin grid-template-areas($grid-template-areas) {
  grid-template-areas: $grid-template-areas;
}

@mixin grid-template($grid-template-areas, $grid-template-columns, $grid-template-rows) {
  
}

@mixin grid() {
  /* Flex */
  display: flex;
  /* Grid */
  display: grid;
 //  grid-template-rows: 100%; Testing for the chrome
 grid-template-rows: auto;
}


/*** Children ***/

@mixin grid-column-start() {

}

@mixin grid-column-end() {

}

@mixin grid-row-start() {

}

@mixin grid-row-end() {

}

@mixin grid-column() {

}

@mixin grid-area() {

}

@mixin grid-column-gap($grid-column-gap) {
  grid-column-gap: $grid-column-gap;
}

@mixin grid-row-gap($grid-row-gap) {
  grid-row-gap: $grid-row-gap;
}

@mixin grid-gap($grid-gap) {
  grid-gap: $grid-gap;
}