@mixin position($position) {
  position: $position;
}

@mixin position--absolute($left, $top, $transform) {
  @include position(absolute);
  left: $left;
  top: $top;
  transform: $transform;
}

@mixin position--relative($left: unset, $right: unset,  $top: unset, $bottom: unset) {
  @include position(relative);
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

@mixin position--fixed($left: unset, $right: unset,  $top: unset, $bottom: unset) {
  @include position(fixed);
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}
