$z-index: (
  layer-0: 0,
  layer-1: 9,
  layer-2: 99,
  layer-3: 999,
  layer-4: 9999,
  layer-5: 999999,
  layer-6: 9999999,
  layer-7: 99999999,
  layer-8: 999999999,
  layer-9: 9999999999,
  layer-10: 99999999999,
  layer-11: 999999999999,
  layer-12: 9999999999999
);
