@mixin grid-layout-core(
  $gap: null,
  $cols: null,
  $cols-fr: null,
  $cols-gap: null,
  $rows: null,
  $rows-fr: null,
  $rows-gap: null,
  $place-items: null,
  $place-content: null,
  $justify-items: null,
  $justify-content: null,
  $align-items: null,
  $align-content: null,
  $template: null,
  $template-areas: null,
  $template-columns: null,
  $template-rows: null,
  $media: null
) {
  @include flex($wrap: wrap);

  > div {

    @if $gap {

      @if $cols == 1 {
        flex-basis: 100%;
      }

      @if $cols == 2 {
        flex-basis: calc(50% - #{$gap} / 2);
      }

      @if $cols == 3 {
        flex-basis: calc(33.3333% - 2 * #{$gap} / 3);
      }

      @if $cols == 4 {
        flex-basis: calc(25% - 3 * #{$gap} / 4);
      }

      @if $cols == 5 {
        flex-basis: calc(25% - 4 * #{$gap} / 5);
      }

      @if $cols == 6 {
        flex-basis: calc(25% - 5 * #{$gap} / 6);
      }

      @if $cols == 7 {
        flex-basis: calc(14.2857% - 6 * #{$gap} / 7);
      }

      @if $cols == 8 {
        flex-basis: calc(12.5% - 7 * #{$gap} / 8);
      }

      @if $cols == 9 {
        flex-basis: calc(11.11% - 8 * #{$gap} / 9);
      }

      @if $cols == 10 {
        flex-basis: calc(10% - 9 * #{$gap} / 10);
      }

      @if $cols == 11 {
        flex-basis: calc(9.0909%- 10 * #{$gap} / 11);
      }

      @if $cols == 12 {
        flex-basis: calc(8.3333% - 11 * #{$gap} / 12);
      }
    }
  }

  // CSS Grid-based layout system

  @if $cols {

    @if $rows == null {
      @if $cols-fr == null and $rows-fr == null {
        @include grid(
          $template-columns: repeat($cols, auto),
          $template-rows: auto,
          $gap: $gap
        );
      }

      @if $cols-fr {
        @if $rows-fr == null {
          @include grid(
          $template-columns: repeat($cols, $cols-fr),
          $template-rows: auto,
          $gap: $gap
          );
        }
      }
    }
  }

  @if $rows {

    @include grid(
      $template-columns: repeat($cols, auto),
      $template-rows: repeat($rows, auto),
      $gap: $gap
    );

    @if $rows-fr {
      @if $cols-fr == null {
        @include grid(
        $template-columns: repeat($cols, auto),
        $template-rows: (auto, $rows-fr),
        $gap: $gap
        );
      }
    }
  }

  @if $cols-gap {
    column-gap: $cols-gap;
  }

  @if $rows-gap {
    row-gap: $rows-gap;
  }

  @if $justify-content {
    justify-content: $justify-content;
  }

  @if $justify-items {
    justify-items: $justify-items;
  }

  @if $align-content {
    align-content: $align-content;
  }

  @if $align-items {
    align-items: $align-items;
  }

  @if $place-content {
    place-content: $place-content;
  }

  @if $place-items {
    place-items: $place-items;
  }

  @if $template {
    grid-template: $template;
  }

  @if $template-areas {
    grid-template-areas: $template-areas;
  }

  @if $template-columns {
    grid-template-columns: $template-columns;
  }

  @if $template-rows {
    grid-template-rows: $template-rows;
  }
}

@mixin grid-layout(
  $gap: null,
  $cols: null,
  $cols-fr: null,
  $cols-gap: null,
  $rows: null,
  $rows-fr: null,
  $rows-gap: null,
  $justify-items: null,
  $justify-content: null,
  $align-items: null,
  $align-content: null,
  $place-items: null,
  $place-content: null,
  $template: null,
  $template-columns: null,
  $template-rows: null,
  $template-areas: null,
  $media: null
) {

  @include grid-layout-core(
    $gap: $gap,
    $cols: $cols,
    $cols-fr: $cols-fr,
    $cols-gap: $cols-gap,
    $rows: $rows,
    $rows-fr: $rows-fr,
    $rows-gap: $rows-gap,
    $justify-items: $justify-items,
    $justify-content: $justify-content,
    $align-items: $align-items,
    $align-content: $align-content,
    $place-items: $place-items,
    $place-content: $place-content,
    $template: $template,
    $template-areas: $template-areas,
    $template-columns: $template-columns,
    $template-rows: $template-rows,
  );

  @if $media {
    @include media($media) {
      @include grid-layout-core(
        $gap: $gap,
        $cols: $cols,
        $cols-fr: $cols-fr,
        $cols-gap: $cols-gap,
        $rows: $rows,
        $rows-fr: $rows-fr,
        $rows-gap: $rows-gap,
        $justify-items: $justify-items,
        $justify-content: $justify-content,
        $align-items: $align-items,
        $align-content: $align-content,
        $place-items: $place-items,
        $place-content: $place-content,
        $template: $template,
        $template-areas: $template-areas,
        $template-columns: $template-columns,
        $template-rows: $template-rows
      );
    }
  }
}
