@import '../../atoms/properties/grid.scss';

@mixin grid-layout(
  $grid-template-columns: null,
  $grid-cols: 1,
  $grid-cols-fr: 1fr,
  $grid-cols-gap: null,
  $grid-template-rows: null,
  $grid-rows: auto,
  $grid-rows-fr: auto,
  $grid-rows-gap: null,
  $grid-gap: null,
  $justify-items: null,
  $justify-content: null,
  $align-items: null,
  $align-content: null
) {
  
  /* Flexbox Fallback for older browsers */
  
  @include flex;

  > div {
    @include flex-basis(map-get($flex-basis, $grid-cols));
  }

  /* CSS Grid-based layout system */
  
  @include display(grid);
  @include grid-template-rows(repeat($grid-rows, $grid-rows-fr));
  @include grid-template-rows($grid-template-rows);
  @include grid-row-gap($grid-rows-gap);

  @include grid-template-columns(repeat($grid-cols, $grid-cols-fr));
  @include grid-template-columns($grid-template-columns);
  @include grid-column-gap($grid-cols-gap);

  @include grid-gap($grid-gap);

  @include justify-content($justify-content);
  @include justify-items($justify-items);
  
  @include align-content($align-content);
  @include align-items($align-items);
  
  @if $grid-cols == 1 {
    @include flex-direction(column);
  }
}
