$border-radius: (
  xxs: .5rem,
  xs: 1rem,
  sm: 1.5rem,
  ms: 2rem,
  md: 3rem,
  ml: 4rem,
  lg: 5rem,
  xl: 6rem,
  xxl: 8rem,
);

$border-width: (
  xxs: .5rem,
  xs: 1rem,
  sm: 1.5rem,
  ms: 2rem,
  md: 3rem,
  ml: 4rem,
  lg: 5rem,
  xl: 6rem,
  xxl: 8rem,
)
