@import 'proportions.scss';

$flex-basis-1-col: 100%;
$flex-basis-2-col: calc(50% - #{$gap-sm} / 2);
$flex-basis-3-col: calc(33.3333% - 1.5 * #{$gap-sm} / 3);
$flex-basis-4-col: calc(25% - 2 * #{$gap-sm} / 4);
$flex-basis-5-col: calc(25% - 2.5 * #{$gap-sm}/ 5);
$flex-basis-6-col: calc(25% - 3 * #{$gap-sm} / 6);
$flex-basis-7-col: calc(14.2857% - 3.5 * #{$gap-sm} / 7);
$flex-basis-8-col: calc(12.5% - 4 * #{$gap-sm} / 8);
$flex-basis-9-col: calc(11.11% - 4.5 * #{$gap-sm} / 9);
$flex-basis-10-col: calc(10% - 5 * #{$gap-sm} / 10);
$flex-basis-11-col: calc(9.0909% - 5.5 * #{$gap-sm} / 11);
$flex-basis-12-col: calc(8.3333% - 6 * #{$gap-sm} / 12);
