$gap: (
  xxs: 10px,
  xs: 1rem,
  sm: 1.5rem,
  ms: 2rem,
  md: 3rem,
  ml: 4.5rem,
  lg: 6rem,
  xl: 9rem
);

$height: (
  xxs: 9rem,
  xs: 12rem,
  sm: 15rem,
  ms: 18rem,
  md: 21rem,
  ml: 24rem,
  lg: 27rem,
  xl: 33rem,
  xxl: 39rem,
  50: 50%,
  100: 100%,
  50vh: 50vh,
  100vh: 100vh
);

$width: (
  xxs: 9rem,
  xs: 12rem,
  sm: 15rem,
  ms: 18rem,
  md: 21rem,
  ml: 24rem,
  lg: 27rem,
  xl: 33rem,
  xxl: 39rem,
  50: 50%,
  100: 100%,
  50vh: 50vh,
  100vh: 100vh,
  boxed: 118rem
);
