@mixin align__content--flex-start{
  align-content: flex-start;
}

@mixin align__content--flex-end{
  align-content: flex-end;
}

@mixin align__content--start{
  align-content: start;
}

@mixin align__content--end{
  align-content: end;
}

@mixin align__content--center{
  align-content: center;
}

@mixin align__items--flex-start{
  align-items: flex-start;
}

@mixin align__items--flex-end{
  align-items: flex-end;
}

@mixin align__items--start{
  align-items: start;
}

@mixin align__items--end{
  align-items: end;
}

@mixin align__items--center{
  align-items: center;
}

@mixin align__items--stretch {
  align-items: stretch;
}

@mixin align__self--flex-start {
  align-self: flex-start;
}

@mixin align__self--flex-end {
  align-self: flex-end;
}

@mixin align__self--start {
  align-self: start;
}

@mixin align__self--end {
  align-self: end;
}

@mixin align__self--center {
  align-self: center;
}
