.background {

  &__size {

    &--cover {
      background-size: cover;
    }

    &--contain {
      background-size: cover;
    }

    &--100 {
      background-size: 100%;
    }
  }

  &__position {

    &__x {
      
      &--left {
        background-position-x: left;
      }

      &--center {
        background-position-x: center;
      }

      &--right {
        background-position-x: right;
      }
    }

    &__y {
      
      &--top {
        background-position-x: top;
      }

      &--center {
        background-position-x: center;
      }

      &--bottom {
        background-position-x: bottom;
      }
    }
  }
}