@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

/*** Headings ***/

h1,
.h1 {
  font-size: $font-size-lg;
  margin: $gap-ms 0;
}

h2,
.h2 {
  font-size: $font-size-ml;
  margin: $gap-ms 0;
}

h3,
.h3 {
  font-size: $font-size-md;
  margin: $gap-ms 0;
}

h4,
.h4 {
  font-size: $font-size-ms;
  margin: $gap-ms 0;
}

h5,
.h5 {
  font-size: $font-size-sm;
  margin: $gap-ms 0;
}

/*** Paragraphs ***/

p {
  font-size: $font-size-sm;
  line-height: $line-height-md;
}

/*** Lists ***/

ul,
ol {

  li {
    line-height: $line-height-lg;
  }
}

// ol {

//   li {
//     margin-bottom: 1rem;
//   }
// }

/*** Tables ***/

table {
  //
}

/*** Text Options ***/

.text {

  &__color {
    
    &--light {
      @include text__color--light;
    }

    &--dark {
      @include text__color--dark;
    }
  }

  &__align {

    &--left {
      @include text__align--left;
    }
  
    &_--center {
      @include text__align--center;
    }
  
    &--right {
      @include text__align--right;
    }
  }
}

.font {

  &__size {

    &--xs {
      @include font__size--xs;
    }
    &--sm {
      @include font__size--sm;
    }
    &--ms {
      @include font__size--ms;
    }
    &--md {
      @include font__size--md;
    }
    &--ml {
      @include font__size--ml;
    }
    &--lg {
      @include font__size--lg;
    }
    &--xl {
      @include font__size--xl;
    }
  }

  &__weight {

    &--thin {
      @include font__weight--thin;  
    }

    &--ultralight {
      @include font__weight--extralight;
    }

    &--light {
      @include font__weight--light;
    }

    &--normal {
      @include font__weight--normal;
    }

    &--medium {
      @include font__weight--medium;
    }

    &--semibold {
      @include font__weight--semibold;
    }

    &--bold {
      @include font__weight--bold;
    }

    &--extrabold {
      @include font__weight--extrabold;
    }

    &--black {
      @include font__weight--black;
    }
  }
}
